[project]
	description = This is an implementation of Elliptic Curve Diffie Hellman Key Exchange Algorithm.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anbreen Sheikh (anbreen)
[access "refs/for/refs/*"]
	read = group user/Anbreen Sheikh (anbreen)
	push = group user/Anbreen Sheikh (anbreen)
	label-Code-Review = -2..+2 group user/Anbreen Sheikh (anbreen)
	label-Verified = -1..+1 group user/Anbreen Sheikh (anbreen)
	rebase = group user/Anbreen Sheikh (anbreen)
	removeReviewer = group user/Anbreen Sheikh (anbreen)
	submit = group user/Anbreen Sheikh (anbreen)
[access "refs/heads/*"]
	read = group user/Anbreen Sheikh (anbreen)
	create = group user/Anbreen Sheikh (anbreen)
	push = +force group user/Anbreen Sheikh (anbreen)
	pushMerge = group user/Anbreen Sheikh (anbreen)
[access "refs/tags/*"]
	push = +force group user/Anbreen Sheikh (anbreen)
	pushTag = group user/Anbreen Sheikh (anbreen)
	pushSignedTag = group user/Anbreen Sheikh (anbreen)
